@font-face {
  font-family: "BebasNeue-Regular";
  src: url("../font/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../font/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../font/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("../font/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../font/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Light";
  src: url("../font/Poppins-Light.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "BebasNeue-Regular";
  font-family: "Poppins-Bold";
  font-family: "Poppins-Medium";
  font-family: "Poppins-Light";
}

ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

body {
  width: 100%;
  min-width: 1024px;
  background-color: rgb(22, 19, 19);
  position: relative;
  cursor: none;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  overflow-x: hidden;
}

/* === Scroll Bar === */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  height: 13px;
  background: white;
  outline: none;
  border: none;
}

body::-webkit-scrollbar-track {
  background: rgb(22, 19, 19);
}

.head {
  width: 100%;
  height: 100vh;
  min-height: 1000px;
  background: url(../img/tnc-art-logo.png) center center no-repeat;
  background-size: 300px 300px;
}

.header-fixed {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.header-fixed h2 {
  color: #fff;
  font-size: 2em;
  margin-left: 50px;
  font-family: Poppins-Bold;
  cursor: pointer;
}
.header-fixed .hambuger-menu {
  width: 100px;
  height: 100px;
  margin-right: 30px;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}
.header-fixed .hambuger-menu span {
  display: block;
  width: 70px;
  height: 3px;
  background-color: white;
  border-radius: 1px;
  transition: 1s;
}
.header-fixed .hambuger-menu span:nth-child(2) {
  width: 45px;
}

.menu {
  width: 100%;
  height: 100vh;
  min-width: 1200px;
  min-height: 500px;
  position: fixed;
  top: -2000px;
  left: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8888;
  overflow: hidden;
}
.menu nav {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.menu nav ul li {
  width: 1000px;
  display: flex;
  align-items: center;
  gap: 50px;
  flex-flow: nowrap;
}
.menu nav ul li .menu-num {
  font-size: 3em;
  color: rgba(255, 255, 255, 0.3);
  font-family: BebasNeue-Regular;
  opacity: 0.5;
  transition: 1s;
}
.menu nav ul li .menu-line {
  width: 0;
  height: 3px;
  background-color: white;
  opacity: 1;
  transition: 1s;
}
.menu nav ul li .menu-name {
  font-size: 3em;
  color: #fff;
  font-family: Poppins-Bold;
  letter-spacing: 0.1em;
  opacity: 0.5;
  white-space: nowrap;
  transition: 1s;
  cursor: pointer;
}
.menu nav ul li:hover span {
  color: #f4bd03;
  opacity: 1;
}
.menu nav ul li:hover .menu-line {
  width: 150px;
}
.menu nav ul li:hover a {
  color: #f4bd03;
  opacity: 1;
}

.menu-deco {
  width: 100%;
  height: 100vh;
  min-height: 500px;
  position: fixed;
  top: -2000px;
  left: 0;
  background-color: #f4bd03;
  z-index: 7777;
}

.small-logo {
  width: 140px;
  height: 140px;
  position: fixed;
  bottom: 2.5%;
  right: 2.5%;
  opacity: 1;
  z-index: 9999;
}
.small-logo svg {
  width: 100%;
  height: 100%;
}
.small-logo svg .b {
  fill: white;
}

.nft-title {
  width: 95%;
  height: 100vh;
  min-height: 1080px;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  padding-top: 140px;
  margin: 0 auto;
  font-size: 0.8vw;
}
.nft-title div {
  width: 100%;
}
.nft-title div p {
  color: #fff;
  font-size: 2em;
  font-family: BebasNeue-Regular;
  display: block;
  width: auto;
}
.nft-title div h3 {
  color: #fff;
  font-size: 8em;
  line-height: 0.8;
  font-family: BebasNeue-Regular;
  letter-spacing: 0.02em;
  font-weight: bold;
  display: inline-block;
  width: auto;
}

.nft {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  overflow: hidden;
  overflow: hidden;
}
.nft .nft-pic {
  width: 95%;
  height: 100vh;
  min-height: 1080px;
  background-color: bisque;
  backface-visibility: visible;
  position: absolute;
  overflow-y: hidden;
}
.nft .nft-pic video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(300%);
}
.nft .nft-contents {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 150px 0 100px;
  font-size: 0.8vw;
}
.nft .nft-contents P {
  width: 100%;
  color: #fff;
  font-size: 2.5em;
  font-family: Poppins-SemiBold;
  text-align: center;
  line-height: 1.5;
  opacity: 1;
}
.nft .nft-contents P span {
  display: inline-block;
  opacity: 0;
}

.about {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  overflow: hidden;
}
.about .about-title {
  width: 100%;
  margin: 100px 0;
  overflow: hidden;
}
.about .about-title h2 {
  font-size: 10em;
  text-align: center;
  line-height: 0.8;
  font-weight: 700;
  font-family: Poppins-SemiBold;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.about .about-title h2 span {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.2rem;
  font-family: Poppins-SemiBold;
}
.about .about-title h2 span:nth-child(1) {
  margin-right: 10px;
}
.about .about-content-box {
  width: 95%;
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .about-content-box .about-pic {
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.about .about-content-box .about-pic div {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .about-content-box .about-pic div img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .about-content-box .about-content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8vw;
}
.about .about-content-box .about-content p {
  width: 100%;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.9em;
  font-family: Poppins-Bold;
  padding: 0 50px;
}
.about .about-content-box .about-content p span {
  display: inline-block;
  opacity: 0;
  font-family: Poppins-Bold;
}
.about .about-right p {
  text-align: right;
}

.picture {
  width: 100%;
  height: 100vh;
  min-height: 1080px;
  background: url(../img/picture02.png) center center no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 150px;
}

.picture::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 1080px;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.3674719888) 0%, rgba(0, 0, 0, 0.8) 100%);
}

.marquee {
  width: 100%;
  height: 90vh;
  min-height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  overflow: hidden;
  position: relative;
}
.marquee h3 {
  font-size: 5em;
  font-family: Poppins-Bold;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.2);
  color: transparent;
  text-transform: uppercase;
  z-index: 41;
  white-space: nowrap;
  letter-spacing: 0.1em;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.marquee .marquee-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}
.marquee .marquee-title h3 {
  width: 100%;
  height: 100%;
  color: black;
  font-size: 12em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: BebasNeue-Regular;
  font-weight: bold;
  text-transform: uppercase;
}

.project {
  width: 100%;
  height: 100vh;
  min-height: 980px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.project h2 {
  width: 95%;
  font-size: 5em;
  color: #fff;
  font-family: BebasNeue-Regular;
  border-bottom: 3px solid white;
  margin: 100px 0 60px 0;
  padding-bottom: 20px;
}
.project .project-list-wrapper {
  width: 95%;
  height: calc(100% - 320px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
  position: relative;
  left: 0%;
}
.project .project-list-wrapper .project-list {
  min-width: 32%;
  aspect-ratio: 1;
  border-radius: 50px;
  position: relative;
}
.project .project-list-wrapper .project-list img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
.project .project-list-wrapper .project-list p {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 2.5em;
  font-family: Poppins-Bold;
  color: #fff;
  opacity: 0;
  transition: 0.5s;
  white-space: nowrap;
}
.project .project-list-wrapper .project-list img:hover ~ p {
  top: 105%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.out {
  width: 100%;
  height: 100vh;
  min-height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.out h2 {
  width: 95%;
  font-size: 5em;
  color: #fff;
  font-family: BebasNeue-Regular;
  border-bottom: 3px solid white;
  padding-bottom: 20px;
}
.out .out-list-wrapper {
  width: 95%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.out .out-list-wrapper .out-list {
  width: 400px;
  height: 600px;
}
.out .out-list-wrapper .out-list p {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 1.4em;
  color: #fff;
  font-family: Poppins-Bold;
}
.out .out-list-wrapper .out-list figure {
  width: 100%;
  height: calc(100% - 30px);
}
.out .out-list-wrapper .out-list figure div {
  width: 100%;
  height: 500px;
  cursor: pointer;
}
.out .out-list-wrapper .out-list figure div video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.out .out-list-wrapper .out-list figure div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.out .out-list-wrapper .out-list figure figcaption {
  width: 100%;
  font-size: 2em;
  color: #fff;
  font-family: Poppins-Bold;
  text-align: center;
  line-height: 2.5;
}
.out .out-list-wrapper .out-list:nth-child(3) {
  width: 350px;
}

.future {
  width: 100%;
  height: 100vh;
  min-height: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.future .future-contents {
  min-width: 1800px;
  min-height: 700px;
  position: relative;
}
.future .future-contents h2 {
  display: block;
  font-size: 15rem;
  color: #fff;
  font-family: BebasNeue-Regular;
  text-shadow: 0 0 15px white;
  position: absolute;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.future .future-contents .future-contents-middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.future .future-contents .future-contents-top {
  top: 7%;
  left: 18%;
}
.future .future-contents .future-contents-bottom {
  bottom: 7%;
  right: 12%;
}

.future::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(180deg, rgb(22, 19, 19) 0%, rgba(22, 19, 19, 0.6) 50%, rgba(255, 255, 255, 0) 100%);
}

.lac {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}
.lac video {
  width: 1000px;
  height: 1000px;
}
.lac h3 {
  width: 100%;
  font-size: 8em;
  color: #fff;
  font-family: BebasNeue-Regular;
  text-align: center;
  text-shadow: 0 0 10px white;
}
.lac .lac-contents {
  width: 95%;
}
.lac .lac-contents .lac-contents-top {
  width: 100%;
  margin-bottom: 100px;
}
.lac .lac-contents .lac-contents-top P {
  font-size: 2.5em;
  font-family: Poppins-Bold;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}
.lac .lac-contents p {
  font-size: 1.8em;
  font-family: Poppins-SemiBold;
  text-align: center;
  color: #fff;
  line-height: 1.5;
  text-transform: uppercase;
  line-height: 1;
  padding-bottom: 20px;
}
.lac .lac-contents p:nth-child(3) {
  margin-bottom: 100px;
}
.lac .lac-contents p:nth-child(6) {
  margin-bottom: 100px;
}
.lac .lac-contents p:nth-child(9) {
  font-family: Poppins-Medium;
  font-size: 1.5rem;
}
.lac .lac-banner {
  width: 95%;
  border-bottom: 3px solid white;
}
.lac .lac-banner video {
  width: 100%;
  outline: none;
  border: none;
}

.partners {
  width: 100%;
  height: 150vh;
  min-height: 1680px;
  position: relative;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.partners .partners-wrapper {
  width: 700px;
  height: 1500px;
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
}
.partners .partners-wrapper .patrners-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 150px;
}
.partners .partners-wrapper .patrners-title h2 {
  width: 650px;
  height: 150px;
}
.partners .partners-wrapper .patrners-title h2 img {
  width: 100%;
}
.partners .partners-wrapper .partners-contents {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 0.7em 0;
}
.partners .partners-wrapper .partners-contents ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 40px;
  background-color: transparent;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 30px;
}
.partners .partners-wrapper .partners-contents ul li {
  width: 350px;
  height: 100px;
  background-color: white;
  padding: 2em;
  border-radius: 20px;
}
.partners .partners-wrapper .partners-contents ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partners .partners-wrapper .partners-contents ul li a img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
  background: 0% 0%/contain transparent !important;
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  border: none !important;
  outline: none !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 150px;
}
.contact .contact-title {
  margin: 150px 0;
}
.contact .contact-title h2 {
  font-size: 10em;
  font-family: BebasNeue-Regular;
  letter-spacing: 0.5rem;
  line-height: 0.8;
}
.contact .contact-contents-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  overflow: hidden;
}
.contact .contact-contents-top .contact-video-top {
  width: 50%;
  height: 100%;
  position: relative;
}
.contact .contact-contents-top .contact-video-top video {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  -o-object-fit: cover;
     object-fit: cover;
}
.contact .contact-contents-top .contact-video-top h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4rem;
  font-size: BebasNeue-Regular;
  font-weight: bold;
  letter-spacing: 0.1rem;
  white-space: nowrap;
  opacity: 0.5;
}
.contact .contact-contents-top .contact-email {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.contact .contact-contents-top .contact-email h3 {
  font-size: 5em;
  font-family: BebasNeue-Regular;
  color: black;
  font-weight: bold;
}
.contact .contact-contents-top .contact-email h4 {
  font-size: 4rem;
  font-family: Poppins-Regular;
  color: black;
  font-weight: lighter;
}
.contact .contact-contents-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  overflow: hidden;
}
.contact .contact-contents-bottom .contact-sns {
  width: 50%;
}
.contact .contact-contents-bottom .contact-sns ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.contact .contact-contents-bottom .contact-sns ul li {
  width: 85px;
  height: 85px;
}
.contact .contact-contents-bottom .contact-sns ul li a {
  width: 100%;
  text-decoration: none;
}
.contact .contact-contents-bottom .contact-sns ul li a img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contact .contact-contents-bottom .contact-video-bottom {
  width: 50%;
  height: 100%;
  position: relative;
}
.contact .contact-contents-bottom .contact-video-bottom video {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  -o-object-fit: cover;
     object-fit: cover;
}
.contact .contact-contents-bottom .contact-video-bottom h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4rem;
  font-size: BebasNeue-Regular;
  font-weight: bold;
  letter-spacing: 0.1rem;
  white-space: nowrap;
  opacity: 0.5;
}

footer {
  width: 95%;
  height: 150px;
  margin: 150px auto 0;
  font-size: 0.8vw;
}
footer ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 3px solid black;
  padding-bottom: 20px;
}
footer ul li a {
  font-size: 1.6em;
  font-family: Poppins-Medium;
  color: black;
  white-space: nowrap;
}
footer ul li:nth-child(4) a {
  letter-spacing: -0.05rem;
}
footer ul ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border: none;
}
footer ul ul li {
  width: 50px;
  height: 50px;
}
footer ul ul li a {
  width: 100%;
  height: 100%;
  text-decoration: none;
}
footer ul ul li a img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .footer-wrapper {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
footer .footer-wrapper p {
  position: absolute;
  right: 0;
  font-size: 1.5rem;
  font-family: Poppins-Medium;
}

.cursor {
  position: fixed;
  top: -100%;
  width: 30px;
  height: 30px;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 50%;
  border: 3px solid #fff;
  transition: transform 0.3s ease;
  transform-origin: center center;
  pointer-events: none;
  z-index: 99999;
}

.grow,
.grow-small,
.grow-blend {
  transform: scale(10);
  background: #fff;
  mix-blend-mode: difference;
  border: none;
}

.grow-small {
  transform: scale(2.5);
}

.grow-blend {
  transform: scale(18);
  mix-blend-mode: overlay;
}/*# sourceMappingURL=Style.css.map */