@font-face {
  font-family: "BebasNeue-Regular";
  src: url("../font/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../font/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-Light";
  src: url("../font/Poppins-Light.ttf");
}
$font-babas: BebasNeue-Regular;
$font-poppin: Poppins-Bold;
$font-poppin-light: Poppins-Light;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "BebasNeue-Regular";
  font-family: "Poppins-Bold";
  font-family: "Poppins-Light";
}
ul,
ol {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
}

body {
  width: 100%;
  min-width: 1024px;
  background-color: rgb(22, 19, 19);
  position: relative;
  cursor: none;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  overflow-x: hidden;
}

/* === Scroll Bar === */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  height: 13px;
  background: white;
  outline: none;
  border: none;
}

body::-webkit-scrollbar-track {
  background: rgb(22, 19, 19);
}

// HEAD
.head {
  width: 100%;
  height: 100vh;
  min-height: 1000px;
  background: url(../img/tnc-art-logo.png) center center no-repeat;
  background-size: 300px 300px;
}

// HAMBUGER-MENU
.header-fixed {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  h2 {
    color: #fff;
    font-size: 2em;
    margin-left: 50px;
    font-family: $font-poppin;
    cursor: pointer;
  }

  .hambuger-menu {
    width: 100px;
    height: 100px;
    margin-right: 30px;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 20px;
    cursor: pointer;

    span {
      display: block;
      width: 70px;
      height: 3px;
      background-color: white;
      border-radius: 1px;
      transition: 1s;
    }
    span:nth-child(2) {
      width: 45px;
    }
  }
}
// MENU
.menu {
  width: 100%;
  height: 100vh;
  min-width: 1200px;
  min-height: 500px;
  position: fixed;
  top: -2000px;
  left: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8888;
  overflow: hidden;
  nav {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;

      li {
        width: 1000px;
        display: flex;
        align-items: center;
        gap: 50px;
        flex-flow: nowrap;
        .menu-num {
          font-size: 3em;
          color: rgba(255, 255, 255, 0.3);
          font-family: $font-babas;
          opacity: 0.5;
          transition: 1s;
        }
        .menu-line {
          // width: 150px;
          width: 0;
          height: 3px;
          background-color: white;
          opacity: 1;
          transition: 1s;
        }
        .menu-name {
          font-size: 3em;
          color: #fff;
          font-family: $font-poppin;
          letter-spacing: 0.1em;
          opacity: 0.5;
          white-space: nowrap;
          transition: 1s;
          cursor: pointer;
        }
      }
      li:hover {
        span {
          color: #f4bd03;
          opacity: 1;
        }
        .menu-line {
          width: 150px;
        }
        a {
          color: #f4bd03;
          opacity: 1;
        }
      }
    }
  }
}
.menu-deco {
  width: 100%;
  height: 100vh;
  min-height: 500px;
  position: fixed;
  top: -2000px;
  left: 0;
  background-color: #f4bd03;
  z-index: 7777;
}

// Small-Logo
.small-logo {
  width: 160px;
  height: 160px;
  position: fixed;
  bottom: 2.5%;
  right: 2.5%;
  opacity: 1;
  z-index: 9999;
  svg {
    width: 100%;
    height: 100%;
    .b {
      fill: white;
    }
  }
}

// NFT-TITLE
.nft-title {
  width: 95%;
  height: 100vh;
  min-height: 1080px;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  padding-top: 140px;
  margin: 0 auto;
  font-size: 0.8vw;

  div {
    width: 100%;
    p {
      color: #fff;
      font-size: 2em;
      font-family: $font-babas;
      display: block;
      width: auto;
    }
    h3 {
      color: #fff;
      font-size: 8em;
      line-height: 0.8;
      font-family: $font-babas;
      letter-spacing: 0.1em;
      font-weight: bold;
      display: inline-block;
      width: auto;
    }
  }
}
// NFT
.nft {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  overflow: hidden;
  overflow: hidden;

  .nft-pic {
    width: 95%;
    height: 100vh;
    min-height: 1080px;
    background-color: bisque;
    backface-visibility: visible;
    position: absolute;
    overflow-y: hidden;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(300%);
    }
  }

  .nft-contents {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 150px 0 100px;
    font-size: 0.8vw;

    P {
      width: 100%;
      color: #fff;
      font-size: 2.5em;
      font-family: $font-poppin;
      text-align: center;
      line-height: 1.5;
      opacity: 1;
      span {
        display: inline-block;
        opacity: 0;
      }
    }
  }
}

// ABOUT
.about {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  overflow: hidden;
  .about-title {
    width: 100%;
    margin: 100px 0;
    overflow: hidden;
    h2 {
      font-size: 10em;
      text-align: center;
      line-height: 0.8;
      font-weight: 700;
      font-family: $font-poppin;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      span {
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: -0.2rem;
        font-family: $font-poppin;
      }
      span:nth-child(1) {
        margin-right: 10px;
      }
    }
  }

  .about-content-box {
    width: 95%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .about-pic {
      width: 50%;
      height: 100%;
      overflow: hidden;
      div {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .about-content {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 0.8vw;
      p {
        width: 100%;
        font-size: 2em;
        font-weight: 700;
        line-height: 1.9em;
        font-family: $font-poppin;
        padding: 0 50px;
        span {
          display: inline-block;
          opacity: 0;
          font-family: $font-poppin;
        }
      }
    }
  }
  .about-right {
    p {
      text-align: right;
    }
  }
}

// PICTURE
.picture {
  width: 100%;
  height: 100vh;
  min-height: 1080px;
  background: url(../img/picture02.png) center center no-repeat;
  background-size: cover;
  position: relative;
}
.picture::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 1080px;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.36747198879551823) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

// MARQUEE
.marquee {
  width: 100%;
  height: 90vh;
  min-height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  overflow: hidden;
  position: relative;
  h3 {
    font-size: 5em;
    font-family: $font-poppin;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.2);
    color: transparent;
    text-transform: uppercase;
    z-index: 41;
    white-space: nowrap;
    letter-spacing: 0.1em;
    user-select: none;
  }
  .marquee-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 50;
    h3 {
      width: 100%;
      height: 100%;
      color: black;
      font-size: 12em;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $font-babas;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

//   PROJECT
.project {
  width: 100%;
  height: 100vh;
  min-height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  position: relative;
  h2 {
    width: 95%;
    font-size: 5em;
    color: #fff;
    font-family: $font-babas;
    border-bottom: 3px solid white;
    margin: 100px 0 60px 0;
    padding-bottom: 20px;
  }

  .project-list-wrapper {
    width: 95%;
    height: 750px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    position: relative;
    left: 0%;
    .project-list {
      min-width: 32%;
      aspect-ratio: 1;
      border-radius: 50px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      p {
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        font-size: 2.5em;
        font-family: $font-poppin;
        color: #fff;
        opacity: 0;
        transition: 0.5s;
        white-space: nowrap;
      }
      img:hover ~ p {
        top: 105%;
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
      }
    }
  }
}

// OURSOURCING
.our {
  width: 100%;
  height: 100vh;
  min-height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  h2 {
    width: 95%;
    font-size: 5em;
    color: #fff;
    font-family: $font-babas;
    border-bottom: 3px solid white;
    padding-bottom: 20px;
  }
  .our-list-wrapper {
    width: 95%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .our-list {
      width: 400px;
      height: 600px;

      p {
        width: 100%;
        height: 30px;
        line-height: 30px;
        font-size: 1.4em;
        color: #fff;
        font-family: $font-poppin;
      }
      figure {
        width: 100%;
        height: calc(100% - 30px);
        div {
          width: 100%;
          height: 500px;
          video {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        figcaption {
          width: 100%;
          font-size: 2em;
          color: #fff;
          font-family: $font-poppin;
          text-align: center;
          line-height: 2.5;
        }
      }
    }
    .our-list:nth-child(3) {
      width: 350px;
    }
  }
}

// FUTURE
.future {
  width: 100%;
  height: 100vh;
  min-height: 1080px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .future-contents {
    min-width: 1800px;
    min-height: 700px;
    position: relative;
    h2 {
      display: block;
      font-size: 15rem;
      color: #fff;
      font-family: $font-babas;
      text-shadow: 0 0 15px white;
      position: absolute;
      white-space: nowrap;
      user-select: none;
    }
    .future-contents-middle {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .future-contents-top {
      top: 7%;
      left: 18%;
    }
    .future-contents-bottom {
      bottom: 7%;
      right: 12%;
    }
  }
}
.future::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(
    180deg,
    rgba(22, 19, 19, 1) 0%,
    rgba(22, 19, 19, 0.6) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

// LADE-APE-COIN
.lac {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  video {
    width: 1000px;
    height: 1000px;
  }
  h3 {
    width: 100%;
    font-size: 8em;
    color: #fff;
    font-family: $font-babas;
    text-align: center;
    text-shadow: 0 0 10px white;
  }
  .lac-contents {
    width: 95%;
    .lac-contents-top {
      width: 100%;
      margin-bottom: 100px;
      P {
        font-size: 2.5em;
        font-family: $font-poppin;
        text-align: center;
        color: #fff;
        margin-bottom: 10px;
      }
    }
    p {
      font-size: 1.8em;
      font-family: $font-poppin;
      text-align: center;
      color: #fff;
      line-height: 1.5;
    }
    p:nth-child(2) {
      margin-bottom: 100px;
    }
    p:nth-child(4) {
      margin-bottom: 100px;
    }
  }
  .lac-banner {
    width: 95%;
    border-bottom: 3px solid white;
    video {
      width: 100%;
      outline: none;
      border: none;
    }
  }
}

// PARTNERS
.partners {
  width: 100%;
  height: 150vh;
  min-height: 1680px;
  position: relative;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .partners-wrapper {
    width: 700px;
    height: 1500px;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
    .patrners-title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 50px 0 150px;
      h2 {
        width: 650px;
        height: 150px;
        img {
          width: 100%;
        }
      }
    }
    .partners-contents {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      padding: 0.7em 0;
      ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        gap: 40px;
        background-color: transparent;
        backdrop-filter: blur(5px);
        border-radius: 30px;
        li {
          width: 350px;
          height: 100px;
          background-color: white;
          padding: 2em;
          border-radius: 20px;
          a {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}
canvas {
  width: 100%;
  height: 100%;
  display: block;
  background: 0% 0% / contain transparent !important;
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  border: none !important;
  outline: none !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// CONTACT-US
.contact {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 150px;
  .contact-title {
    margin: 150px 0;
    h2 {
      font-size: 10em;
      font-family: $font-babas;
      letter-spacing: 0.5rem;
      line-height: 0.8;
    }
  }
  .contact-contents-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    overflow: hidden;
    .contact-video-top {
      width: 50%;
      height: 100%;
      video {
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        object-fit: cover;
      }
    }
    .contact-email {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      h3 {
        font-size: 5em;
        font-family: $font-babas;
        color: black;
        font-weight: bold;
      }
      h4 {
        font-size: 4rem;
        font-family: $font-poppin-light;
        color: black;
        font-weight: lighter;
      }
    }
  }
  .contact-contents-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    overflow: hidden;
    .contact-sns {
      width: 50%;
      ul {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
        li {
          width: 85px;
          height: 85px;
          a {
            width: 100%;
            text-decoration: none;
            img {
              width: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
    .contact-video-bottom {
      width: 50%;
      height: 100%;
      video {
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        object-fit: cover;
      }
    }
  }
}

// FOOTER
footer {
  width: 95%;
  height: 150px;
  margin: 150px auto 0;
  font-size: 0.8vw;
  ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    border-bottom: 3px solid black;
    padding-bottom: 20px;
    li {
      a {
        font-size: 1.6em;
        font-family: $font-poppin;
        color: black;
        white-space: nowrap;
      }
    }
    li:nth-child(4) {
      a {
        letter-spacing: -0.05rem;
      }
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
      border: none;
      li {
        width: 50px;
        height: 50px;
        a {
          width: 100%;
          height: 100%;
          text-decoration: none;
          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  .footer-wrapper {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    p {
      position: absolute;
      right: 0;
      font-size: 1.8em;
      font-family: $font-poppin;
    }
  }
}
// CURSOR
.cursor {
  position: fixed;
  top: -100%;
  width: 30px;
  height: 30px;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 50%;
  border: 3px solid #fff;
  transition: transform 0.3s ease;
  transform-origin: center center;
  pointer-events: none;
  z-index: 99999;
}

.grow,
.grow-small,
.grow-blend {
  transform: scale(10);
  background: #fff;
  mix-blend-mode: difference;
  border: none;
}
.grow-small {
  transform: scale(2.5);
}
.grow-blend {
  transform: scale(18);
  mix-blend-mode: overlay;
}
